/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: 'Noto-Serif', sans-serif;
    background-color: #dfe8f1;
}

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Colur Styling start */

.kingston-blue {
    background-color: #03487E;
}

/* ---------------------------------------------- Colur Styling end */

/* ---------------------------------------------- Home Page Styling start */

/* ----------------------- Navbar Styling start */

.nav-link.active {
    text-decoration: underline;
}

.navbar .navbar-toggler {
  border: 0;
  outline: none;
}

.navbar-toggler i {
  color: #fafafa;
  font-size: 30px;
}

/* Hover Wobble Skew Code taken from https://ianlunn.github.io/Hover/ start */

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Hover Wobble Skew Code end */

/* ----------------------- Navbar Styling end */

/* ----------------------- Hero Image Styling start */

.all-hero-images {
    height: calc(100vh - 76px);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-1 {
    background-image: url("/assets/media/images/landing_image_1.jpg");
}

.hero-image-2 {
    background-image: url("/assets/media/images/landing_image_2.jpg");
}

.hero-image-text-row {
    height: calc(100vh - 76px);
}

.hero-image-text-box {
    height: auto;
    background: rgba(3, 72, 126, 0.7);
}

.hero-image-text-box h1 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
}

/* ----------------------- Hero Image Styling end */

/* ---------------------------------------------- Home Page Styling end */



/* ---------------------------------------------- Media Queries */

@media screen and (max-device-width : 400px) {
    .hero-image-text-box h1 {
        font-size:1.5rem;
    }
}