/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: "Noto Serif", sans-serif;
    background-color: #ffffff;
}

/* Back To Top Button (For All Pages) Code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top start */

#btt-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #ffffff;
    background: rgba(3, 72, 126, 1);
    cursor: pointer;
    border-radius: 4px;
}

#btt-button:hover {
    background: #ffffff;
    color: rgba(3, 72, 126, 1);
}

/* Back To Top Button (For All Pages) end */

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Colur Styling start */

.kingston-blue {
    background-color: #03487E;
}

.kingston-blue-text {
    color: #03487E;
}

/* ---------------------------------------------- Colur Styling end */

/* ---------------------------------------------- Home Page Styling start */

/* ----------------------- Navbar Styling start */

.nav-link.active {
    text-decoration: underline;
}

.navbar .navbar-toggler {
  border: 0;
  outline: none;
}

.navbar-toggler i {
  color: #fafafa;
  font-size: 30px;
}

.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Hover Wobble Skew Code taken from https://ianlunn.github.io/Hover/ start */

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Hover Wobble Skew Code end */

/* ----------------------- Navbar Styling end */

/* ----------------------- Hero Image Styling start */

.hero-landing-home-image {
    height: 100vh;
    width: 100vw !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-text-row {
    height: 100vh;
    position: absolute;
    z-index: 10;
}

.hero-image-text-box {
    height: auto;
    background: rgba(3, 72, 126, 0.7);
}

.hero-image-text-box h1 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
}

/* ----------------------- Hero Image Styling end */

/* ----------------------- Maps Filter Button start */

.filter-button {
    width: 250px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #03487E;
    box-sizing: border-box;
    border-radius: 45px;
}

.filter-button:hover {
    color: #FFFFFF;
    background: #03487E;
    border: 3px solid #03487E;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #03487E;
}

/* ----------------------- Maps Filter Button end */

/* ----------------------- Maps List & Google Map start */

div#map {
    height: 500px;
}

.table-striped tbody tr:nth-of-type(odd) {
    color: #FFFFFF;
    background-color: #03487E;
}

.table-striped tbody tr:nth-of-type(even) {
    color: #03487E;
    background-color: #FFFFFF;
}

.table-scroll {
    overflow:scroll;
    height: 500px;
}

.map-table tr td:nth-child(1) {
  width: 10%;
}

.map-table tr td:nth-child(2) {
  width: 90%;
}

.table-row-height {
    height: 125px;
}

/* ----------------------- Maps List & Google Map end */

/* ---------------------------------------------- Home Page Styling end */

/* ---------------------------------------------- About Kingston Page Styling start */

.hero-landing-about-image {
    background-image: url("../media/images/about_page.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ----------------------- Divider Images start */

.about-kingston-all-images {
    max-width: 100%;
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.food-drink-image {
    background-image: url("../media/images/food_and_drink_1.jpg");
}

.food-drink-divider {
    background-image: url("../media/images/food_divider.jpg");
}

.divider-row {
    min-height: 450px;
    position: absolute;
    z-index: 10;
}

.places-to-stay-image {
    background-image: url("../media/images/places_to_stay.jpg");
}

.places-to-stay-divider {
    background-image: url("../media/images/hotel_divider.jpg");
}

.places-image-text-box {
    height: auto;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.8);
}

.attractions-image-text-box {
    height: auto;
    min-width: 300px;
    background: rgba(3, 72, 126, 0.7);
}

.attractions-image {
    background-image: url("../media/images/bushy_park.jpg");
}

.attractions-divider {
    background-image: url("../media/images/attractions_divider.jpg");
}

/* ----------------------- Divider Images end */

/* ----------------------- View On Map Button start */

.view-on-map-white {
    color: #fff;
    background: #03487E;
    border: 3px solid #03487E;
    box-sizing: border-box;
    border-radius: 45px;
}

.view-on-map-blue {
    color: #03487E;
    background: #fff;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 45px;
}

.view-on-map-white:hover {
    background: #fff;
    color: #03487E;
    text-decoration: none;
}

.view-on-map-blue:hover {
    color: #fff;
    background: #03487E;
    text-decoration: none;
}

/* ----------------------- View On Map Button end */

/* Card carousel Code taken from https://www.codeply.com/go/EIOtI7nkP8/bootstrap-carousel-with-multiple-cards start */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/* The below are my own styling for the cards */

.carousel-card {
    max-width: 250px;
}

.card-image {
    height: 140px;    
}

/* Card carousel Code end */

/* ---------------------------------------------- About Kingston Page Styling end */

/* ---------------------------------------------- Contact Page Styling start */

.hero-landing {
    background-image: url("../media/images/contact_page.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100vw;
    height: calc(100vh - 76px);
    background-color: rgba(0,0,0,0.5);
}

.card {
    border: 3px solid rgba(3, 72, 126, 1);
}

.submit-button {
    color: #fff;
    min-width: 100px;
}

.submit-button:hover {
    border: 2px solid rgba(3, 72, 126, 1);
    color: rgba(3, 72, 126, 1);
    background-color: #fff;
}

.loader {
    max-height: 30px;
    max-width: 30px;
}

/* ---------------------------------------------- Contact Page Styling end */

/* ---------------------------------------------- Footer Styling start */

.footer-active {
    text-decoration: underline;
}

/* ---------------------------------------------- Footer Styling end */

/* ---------------------------------------------- Media Queries */

@media screen and (max-device-width : 400px) {
    .hero-image-text-box h1 {
        font-size:1.5rem;
    }
}
